{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <p><a href="{% url "accounts:logout" %}">Выход</a></p>
    <p>Здравствуйте, <a href="{% url "accounts:profile" request.user.pk %}">{{ request.user.username }}</a></p>
{% else %}
    {% if request.path != "/accounts/login/" %}
        <p><a href="{% url "accounts:login" %}{% if request.GET.next %}?next=
            {{ request.GET.next }}{% else %}?next={{ request.get_full_path }}{% endif %}">Вход</a></p>
    {% endif %}
    {% if request.path != "/accounts/create/" %}
        <p><a href="{% url "accounts:create_user" %}{% if request.GET.next %}?next=
            {{ request.GET.next }}{% else %}?next={{ request.get_full_path }}{% endif %}">Регистрация</a></p>
    {% endif %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>