{% extends "base.html" %}

{% block title %}Подтверждение{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить картинку "{{ picture.caption }}"?</h1>
    <form style="display: inline-block;" action="" method="post">
        {% csrf_token %}
        <button type="submit">Однозначно!</button>
    </form>
    <form style="display: inline-block;" action="{% url "webapp:picture" picture.pk %}">
        {% csrf_token %}
        <button>Ответ отрицательный</button>
    </form>
{% endblock %}